<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.springframework.web.client.RestTemplate" level="info"/>
    <logger name="org.springframework.web.HttpLogging" level="info"/>

    <logger name="com.github.kjarosh.agh.pp.test.RemoteGraphBuilder" level="info"/>
</configuration>
